.xrnt-inp{
    padding: 10px;
    width: 100%;
}

h1 {
    text-align: center;
}

h4{
    font-style: italic;
    text-align: center;
}

.error {
    border: 1px solid red;
}

.xrnt-chess-board{
    width: 100%;
    display: inline-block;
}

.xrnt-moves{
    display: none;
    color: green;
    size: 18px;
    font-weight: bold;
}